.active {
  display: block !important;
}
.myText {
  display: none;
}
.title {
  font-size: 1.5em;
  background-color: #ddd;
}
.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}
